/*
#CC2F2F vermelho
#B33435 vermelho escuro
#5F0407 vermelho muito escuro
#EE9C9C salmão
*/
::placeholder {
  color: #1C244B;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #1C244B;
  opacity: 1;
}
:root{
    --vermelho-extra-claro: #fffaff;
    --pt-color-primary: #5F0407;
    --pt-color-secondary: #CC2F2F;
    --pt-color-text: #12141D;
    --pt-color-accent: #CC2F2F;
    --pt-color-bg: #fff;
    --cor2: #1C244B;
    --cor2-escura: #12141D;
}
.elementor-kit-10{
    --e-global-color-primary: #fff !important;
    --e-global-color-secondary: #EE9C9C;
    --e-global-color-text: #1153A1;
    --e-global-color-accent: #CC2F2F;
}
.site-header.colored{
    background-color: var(--vermelho-extra-claro) !important;
    color: #000;
}
.elementor-23 .elementor-element.elementor-element-b23d07c:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-b23d07c > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--e-global-color-accent) !important;
    color: #fff;
}

.elementor-23 .elementor-element.elementor-element-da65892:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-da65892 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--pt-color-secondary) !important;
}

.elementor-23 .elementor-element.elementor-element-62c0b24:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-62c0b24 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--pt-color-primary) !important;
    color: #fff;
}
.elementor-221 .elementor-element.elementor-element-153bbcc .elementor-social-icon i{
    color: var(--cor2-escura) !important;
}
.elementor-221 .elementor-element.elementor-element-153bbcc .elementor-social-icon svg{
    fill: var(--cor2-escura) !important;
}

.pt-swiper-button-prev::before,
.pt-swiper-button-next::before{
    color: #B33435;
}

.elementor-23 .elementor-element.elementor-element-7a9062a .pt-button{
    color: #1C244B !important;
}
.elementor-23 .elementor-element.elementor-element-1cbd7a4 .pt-search-form .search-field{
    color: #1C244B !important;
}
.elementor-23 .elementor-element.elementor-element-1a524fc:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-1a524fc > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-27 .elementor-element.elementor-element-c6ca351:not(.elementor-motion-effects-element-type-background), .elementor-27 .elementor-element.elementor-element-c6ca351 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--e-global-color-accent) !important;
    color: #fff;
}

.elementor-23 .elementor-element.elementor-element-8abc5be .pt-heading,
.elementor-23 .elementor-element.elementor-element-e41c5e3,
.elementor-23 .elementor-element.elementor-element-2a89322 .pt-button,
.elementor-23 .elementor-element.elementor-element-a26c836 .pt-accordion-title.ui-state-active,
.elementor-23 .elementor-element.elementor-element-a26c836 .pt-accordion-title,
.elementor-23 .elementor-element.elementor-element-a26c836 .pt-accordion-content,
.elementor-23 .elementor-element.elementor-element-f9a2131 .pt-heading{
    color: #1C244B !important;
}

.elementor-23 .elementor-element.elementor-element-beeaea5:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-beeaea5 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.testimonials-overflow-hidden-right .pt-testimonials::before,
.has-circle-decor::before{
    background-color: var(--e-global-color-accent) !important;
}
.pt-testimonial-content{
    background-color: #fff !important;
}
.elementor-23 .elementor-element.elementor-element-be1c591 .pt-rating i::before,
.elementor-23 .elementor-element.elementor-element-be1c591 .pt-rating i{
    color: var(--e-global-color-accent) !important;
}
.elementor-23 .elementor-element.elementor-element-9cd1dd8 .pt-accordion-title,
.elementor-23 .elementor-element.elementor-element-2c29c7d .pt-accordion-title{
    background-color: var(--e-global-color-secondary);
}

.elementor-23 .elementor-element.elementor-element-70656cf:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-70656cf > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--e-global-color-accent) !important;
    color: #fff;
}

.wpcf7 select,
.wpcf7 input{
    background-color: var(--vermelho-extra-claro) !important;
}
.wpcf7 input{
    border-color: var(--vermelho-extra-claro) !important;
}
.wpcf7 input[type=submit]{
    background-color: var(--pt-color-primary) !important;
}

.pt-accordion-title::after{
    color: var(--cor2);
}

.ui-state-active .pt-accordion-title::after{
    color: #fff;
}

.has-chevron::after{
    background: none;
}

.elementor-23 .elementor-element.elementor-element-a5340c8:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-a5340c8 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-23 .elementor-element.elementor-element-cf99f18:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-cf99f18 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--pt-color-accent) !important;
    color: #fff;
}
.elementor-23 .elementor-element.elementor-element-1fdea26:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-1fdea26 > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-23 .elementor-element.elementor-element-2c57750:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-2c57750 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--cor2-escura);
    color: #fff !important;
}
.elementor-23 .elementor-element.elementor-element-1fdea26:not(.elementor-motion-effects-element-type-background) .elementor-23 .elementor-element.elementor-element-1fdea26:not(.elementor-motion-effects-element-type-background) .pt-button.filled,
.elementor-23 .elementor-element.elementor-element-1fdea26 > .elementor-motion-effects-container > .elementor-motion-effects-layer .elementor-23 .elementor-element.elementor-element-1fdea26:not(.elementor-motion-effects-element-type-background) .pt-button.filled {
    background-color: #fff !important;
    color: var(--cor2-escura) !important;
    
}
.elementor-23 .elementor-element.elementor-element-1fdea26:not(.elementor-motion-effects-element-type-background) .pt-button.filled{
}
.elementor-230 .elementor-element.elementor-element-c940ac3:not(.elementor-motion-effects-element-type-background), .elementor-230 .elementor-element.elementor-element-c940ac3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-color: var(--pt-color-accent) !important;
}

.elementor-23 .elementor-element.elementor-element-3766c3b .pt-heading{
    color: var(--cor2) !important;
}

.elementor-230 .elementor-element.elementor-element-98dfc26{
    color: #fff !important;
}

.elementor-230 .elementor-element.elementor-element-73b138d,
.elementor-230 .elementor-element.elementor-element-978b236{
    border-color: var(--e-global-color-secondary) !important;
}

.elementor-230 .elementor-element.elementor-element-5271e10 {
    --divider-color: #EE9C9C;
}
.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{
    border-color: var(--vermelho-extra-claro) !important;
}
.site-header.colored .elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{
    border-color: var(--cor2) !important;
}
.elementor-23 .elementor-element.elementor-element-12cb094{
    margin-top: 0;
}
.elementor-23 .elementor-element.elementor-element-62c0b24:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-62c0b24 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    margin-bottom: 10px;
}
.elementor-23 .elementor-element.elementor-element-869589f.e-con-full.e-flex.e-con.e-child.animated.fadeInUp .elementor-element.elementor-element-3c6de8b:not(:hover),
.elementor-23 .elementor-element.elementor-element-869589f.e-con-full.e-flex.e-con.e-child.animated.fadeInUp .elementor-element.elementor-element-5cec55c:not(:hover),
.elementor-23 .elementor-element.elementor-element-869589f.e-con-full.e-flex.e-con.e-child.animated.fadeInUp .elementor-element.elementor-element-3e0fcf3:not(:hover),
.elementor-23 .elementor-element.elementor-element-869589f.e-con-full.e-flex.e-con.e-child.animated.fadeInUp .elementor-element.elementor-element-9328dac:not(:hover),
.elementor-23 .elementor-element.elementor-element-869589f.e-con-full.e-flex.e-con.e-child.animated.fadeInUp .elementor-element.elementor-element-37be01d:not(:hover){
    background-color: var(--e-global-color-secondary);
}
.elementor-element-094712d{
    padding-bottom: 50px;
    color: var(--cor2-escura) !important;
}



.elementor-23 .elementor-element.elementor-element-7093c9b:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-7093c9b > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-23 .elementor-element.elementor-element-1f247a3:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-1f247a3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image: linear-gradient(180deg, var(--vermelho-extra-claro) 0%, var(--vermelho-extra-claro) 100%);
}

.elementor-23 .elementor-element.elementor-element-7093c9b > .elementor-shape-top .elementor-shape-fill, .elementor-23 .elementor-element.elementor-element-7093c9b > .e-con-inner > .elementor-shape-top .elementor-shape-fill{
    fill: #fff;
}

#faq{
    padding-top: 100px;
}

.elementor-221 .elementor-element.elementor-element-dc7d936 .site-logo img{
    max-width: 166px;
}

main{
    position: relative;
    z-index: 99;
    margin-bottom: -88px;
    background-color: #fff;
}

#wp-widget{
    bottom: 14px;
    right: 16px;
    box-sizing: border-box;
    position: fixed !important;
    z-index: 16000160 !important;
    direction: ltr;
    text-align: right;
    display: false;
    align-items: false;
    flex-direction: false;
}
#wp-widget > * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box !important;
}
.wp-btn{
    display: flex;
    margin: 7px;
    position: relative;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.wp-btn-container-circle{
    flex-shrink: 0;
    opacity: 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    order: 2;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgba(136, 136, 136, 0.4) 0px 1px 7px;
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 200;
    animation: 2s ease 1s infinite normal none running hJgPhc;
    text-decoration: none !important;
    background-color: rgb(77, 194, 71) !important;
}

#footer-cp-pt{
    margin-top: -100px;
    position: relative;
}
.header-sticky .site-header{
    background-color: #fff !important;
}

.banner-principal{
    position: relative;
}
.miniaturas{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 15px;
    display: flex;
    background-color: rgba(0,0,0,0.5);
}
.miniaturas .miniatura{
    cursor: pointer;
    flex: 1;
    display: flex;
    margin: 20px;
}
.miniaturas .miniatura .imagem{
    width: 100px;
    height: 80px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.miniaturas .miniatura .titulo{
    max-width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    color: #fff;
    line-height: 1.2;
}

.elementor-1004 .elementor-element.elementor-element-785be88 .site-menu > ul > li > a,
.elementor-1004 .elementor-element.elementor-element-1e59831,
.elementor-1004 .elementor-element.elementor-element-6f311d8 .pt-heading{
    color: var(--cor2-escura) !important;
}


.elementor-1004 .elementor-element.elementor-element-4d75ff4:not(.elementor-motion-effects-element-type-background), .elementor-1004 .elementor-element.elementor-element-4d75ff4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    background-image: url('https://bdente.com.br/novo/custom/img/jd1.png') !important;
}